{% extends 'base.html.twig' %}

{% block title %}Cats index{% endblock %}

{% block body %}
    <h1>Cats index</h1>

    <table class="table">
        <thead>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            *{
                background: beige;
                text-align: center;
                font-family: "Tw Cen MT";
                font-size: 18px;
            }
            .showButton {
                text-decoration: none;
                color: black;
            }
            .showButton:hover {
                color: orange;
            }
            .editButton {
                text-decoration: none;
                color: black;
            }
            .editButton:hover {
                color: orange;
            }
        </style>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cat in cats %}
            <tr>
                <td>{{ cat.id }}</td>
                <td>{{ cat.name }}</td>
                <td>{{ cat.age }}</td>
                <td>
                    <a class = "showButton" href="{{ path('app_cats_show', {'id': cat.id}) }}">show</a>
                    <a class = "editButton" href="{{ path('app_cats_edit', {'id': cat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cats_new') }}">Create new</a>
{% endblock %}
