{% extends 'base.html.twig' %}

{% block title %}New Cats{% endblock %}

{% block body %}
    <h1>Create new Cats</h1>
    <style>
        *{
            background: beige;
            text-align: center;
            font-family: "Tw Cen MT";
            font-size: 18px;
        }
    </style>

    {{ include('cats/_form.html.twig') }}

    <a href="{{ path('app_cats_index') }}">back to list</a>
{% endblock %}
