{% extends 'base.html.twig' %}

{% block title %}Cats{% endblock %}

{% block body %}
    <h1>Cats</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cat.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cat.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ cat.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cats_index') }}">back to list</a>

    <a href="{{ path('app_cats_edit', {'id': cat.id}) }}">edit</a>

    {{ include('cats/_delete_form.html.twig') }}
{% endblock %}
